{% extends "base.html" %}
{% block content %}      
{% load widget_tweaks %}      

<div class="container py-5 wrapper">
  <form method="POST" class="form-signin text-custom-1 text-center">
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% else %}
        <input type="hidden" name="next" value="/" />
    {% endif %}
    <h2 class="form-signin-heading text-center">Login</h2>
    {% csrf_token %}
    {% for field in login_form %}
        <div class="fieldWrapper">
           {% if field.errors %}
            <ol>
            {% for error in field.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
            {% render_field field class+="form-control" placeholder=field.label %}
        </div>
        <br>
    {% endfor %}
         
    <button class="btn bg-custom-3 text-custom-3" type="submit">Login</button> 
<br> <br>
      <p class="text-center text-custom-1">Don't have an account? <a href="/register" class="btn btn-sm bg-custom-3 text-custom-3" role="button">Create</a> </p>


  </form>
</div>


{% endblock %}